* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .logo a {
    color: black;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    text-decoration: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* FOOTER */
.footer {
    background-color: #263238;
    color: #cfd8dc;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h4 {
    color: white;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section p {
    padding-top: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    padding-top: 10px;
}

.footer-section ul li a:hover { color: black; }

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    
}